<div class="meter">
  <div id="meterR-tariff-arrow" class="meter-tariff-arrow">
		&#8598;
	</div>
		Teruglevering	
	<div class="meter-frame">
		<div class="meter-tariff-id">
			I
		</div>
		<div id="meter-T1R" class="meter-digits">
			00000.000
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
	<div class="meter-frame">
		<div class="meter-tariff-id">
	    II
		</div>
		<div id="meter-T2R" class="meter-digits">
	    00000.000
		</div>
		<div class="meter-unit">
	    kWh
		</div>
	</div>
	<div class="meter-frame">
		<div class="meter-tariff-id">
		</div>
	</div>
</div>

